<div class="container">
  <div class="bio-container animate__animated animate__slideInUp">
    <div class="img-container">
      <img class="bio-img" src="assets/special.jpg" alt="">
    </div>
    <div class="caption caption-1">
      <p class="Aladin">
        "Welcome to our fast food restaurant,
        where we proudly serve up some of
        the tastiest burgers in town!
        Our burgers are made with fresh, high-quality ingredients, and we offer a variety of toppings and sauces to suit
        every taste."
      </p>
    </div>
  </div>
  <carousel style="width: 100%; position:static" [slides]="slides" [animationType]="animationType"></carousel>
  <div class="bio-container">
    <div class="caption caption-1">
      <p class="Aladin">
        "We believe that fast food doesn't have to sacrifice quality for speed, which is why we take pride in using only
        the freshest ingredients in all of our menu items. We offer a range of burgers to suit every taste, from classic
        cheeseburgers to spicy jalapeno burgers."
      </p>
    </div>
    <div class="img-container">
      <img class="bio-img" src="assets/tortila.jpg" alt="">
    </div>
  </div>
  <div class="bio-container">
    <div class="caption">
      <p class="Aladin">
        "We know that sometimes you just need a quick and satisfying meal on-the-go, and that's why we're here. Our
        friendly staff is always ready to serve you with a smile, and we'll have your meal ready in no time."
      </p>
    </div>
    <div class="img-container">
      <img class="bio-img" src="assets/dashuri.png" alt="">
    </div>
  </div>

  <div class="sections">
    <div class="section">
      <h2 class="Aladin">Home Made Food!</h2>
    </div>
    <div class="section">
      <h2 class="Aladin">Fresh Served!</h2>
    </div>
    <div class="section">
      <h2 class="Aladin">Multiple Choices</h2>
    </div>
    <div class="section-4">
      <h2 class="Aladin">Your Favorite Place</h2>
    </div>
  </div>


</div>

