@font-face {
  font-family: Aladin;
  src: url(assets/fonts/Aladin-Regular.ttf) format('truetype');
}
.Aladin{
  font-family: Aladin;
}
head{
  width: 100%;
}
body, html{
  margin: 0;
  padding: 0;
  background-color: #db3434;
  height: 100%;

}

